<div class="p-4">
    <div class="p-4 grid lg:grid-cols-3 gap-4">
        <div>
            <p class="text-xl font-semibold">Nome:</p>
            <p>Fulano</p>
        </div>
        <div>
            <p class="text-xl font-semibold">Email:</p>
            <p>{{ 'exemplo@mail.com' }}</p>
        </div>
    </div>
    <div class="p-4 grid lg:grid-cols-3 gap-4">
        <div>
            <p class="text-xl font-semibold">País:</p>
            <p>Brazil</p>
        </div>
        <div>
            <p class="text-xl font-semibold">Estado:</p>
            <p>São Paulo</p>
        </div>
    </div>
    <div class="p-4 grid lg:grid-cols-3 gap-4">
        <div>
            <p class="text-xl font-semibold">Estado Civil:</p>
            <p>Solteiro</p>
        </div>
        <div>
            <p class="text-xl font-semibold">Renda Mensal:</p>
            <p>R$ 5.000,00</p>
        </div>
        <div>
            <p class="text-xl font-semibold">Data de Nascimento</p>
            <p>25/02/1991</p>
        </div>
    </div>
</div>