<div class="p-4 bg-green-400 grid gap-4">
    <p class="text-2xl font-semibold">Telefones: </p>
    <div class="p-4 bg-white grid lg:grid-cols-3 gap-4">
        <app-user-info-item title="Residencial" text="418541356468"></app-user-info-item>
        <app-user-info-item title="Celular" text="418541356468"></app-user-info-item>
        <app-user-info-item title="Emergência" text="-"></app-user-info-item>
    </div>
    <p class="text-2xl font-semibold">Endereços: </p>
    <div class="p-4 bg-white"></div>
</div>